@font-face {
  font-family: PressStart2P;
  src: url('./PressStart2P-Regular.ttf');
}

* {
  margin: 0;
  background-color: rgb(7, 10, 36);
  font-family: PressStart2P;
}


.app {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto;
  width: auto;
  height: auto;
}

.result>img {
  flex-wrap: nowrap;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .result {
      display: flex;
      flex-direction: column;
  }
}